@import "../../../../../styles.scss";

.card {
  background-color: #fff;
  -webkit-border-radius: 2.4rem;
  -moz-border-radius: 2.4rem;
  -ms-border-radius: 2.4rem;
  -o-border-radius: 2.4rem;
  border-radius: 2.4rem;
  padding: 1.4rem 0.95rem;
  box-shadow: 0px 3.66px 36.61px 0px #0000001a;

  figure {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    height: 16.5rem;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      -webkit-border-radius: 1.2rem;
      -moz-border-radius: 1.2rem;
      -ms-border-radius: 1.2rem;
      -o-border-radius: 1.2rem;
      border-radius: 1.2rem;
      -webkit-animation: imageMove 5s linear infinite;
      animation: imageMove 5s linear infinite;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
    }
    &:hover {
      cursor: zoom-in;
      z-index: 2;
      img {
        animation-play-state: paused;
        height: 16.5rem;
        width: auto;
      }
    }
    &.zoomed {
      cursor: zoom-out;
      img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
      }
    }
    @media (max-width: 480px) {
      height: 100%;
    }
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding-inline-start: 1rem;
    .title {
      font-size: 2rem;
      line-height: 2.2rem;
      font-weight: 700;
      color: $text-color;
    }
    .desc {
      color: rgba(168, 168, 168, 1);
      font-weight: 400;
      font-size: 1.43rem;
      line-height: 2.225rem;
    }
    .status {
      color: $text-color;
      font-weight: 500;
      font-size: 1.43rem;
      line-height: 2.225rem;
      display: flex;
      align-items: center;
      gap: 1.5rem;
      span {
        padding: 0.7rem;
        background-color: #fdd46b47;
        color: #ffc11a;
        font-weight: 700;
        font-size: 1.251rem;
        line-height: 1.39rem;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;
        &.completed {
          background-color: rgba(0, 198, 20, 0.12);
          color: rgba(0, 198, 20, 1);
        }
      }
    }
    .actions {
      margin-top: 0.8rem;
      button {
        color: rgba(255, 59, 166, 1);
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 0;
        gap: 1rem;
        font-size: 1.4rem;
        line-height: 2.4rem;
        font-weight: 500;
        &:focus {
          box-shadow: none;
        }
      }
    }
  }
}

@keyframes imageMove {
  0% {
    object-position: top;
  }
  25% {
    object-position: center;
  }
  50% {
    object-position: bottom;
  }
  75% {
    object-position: center;
  }
  100% {
    object-position: top;
  }
}
